@font-face {
  font-family: "Switzerland";
  src: url("../assets/fonts/Switzerland-2.ttf");
}

@font-face {
  font-family: "gilroy-regular";
  src: url("../assets/fonts/Gilroy-Regular.otf");
}

.sec-six {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "gilroy-regular";
  font-weight: 500;
  background-color: #faf9f6;
  color: #c6af90;
  overflow: hidden;
}

.sec-six-cover-ctn {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-six-content-ctn {
  width: 100%;
  display: flex;
  padding: 50px 20px;
  padding-bottom: 70px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
  text-align: center;
}

.sec-six-content-ctn > h2 {
  margin-top: 10px;
  font-size: 45px;
  font-family: "Switzerland";
  text-align: center;
}

.sec-six-content-ctn > p {
  line-height: 50px;
  margin-top: -40px;
  color: #606060;
  text-align: center;
}

.sec-six-content-ctn > button {
  cursor: pointer;
  background-color: #757a3e;
  border-radius: 50px;
  border: none;
  outline: none;
  font-family: gilroy-regular;
  color: white;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 600;
  transition: all 0.3s linear;
}

.sec-six-content-ctn > button > i {
  font-size: 20px;
}

.sec-six-content-ctn > button:hover {
  transition: all 0.3s linear;
  transform: translateY(-7.5px);
}

iframe {
  width: 70%;
  aspect-ratio: 16/9;
}

.gallery-ctn {
  width: 70%;
  columns: 3;
  gap: 0;
  overflow: hidden;
}

.gallery-ctn > img {
  width: 100%;
  aspect-ratio: 1 / 2;
  scale: 1.05;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 450px) {
  iframe {
    width: 90%;
    aspect-ratio: 16/9;
  }

  .gallery-ctn {
    width: 90%;
    columns: 2;
    gap: 0;
    overflow: hidden;
  }

  .sec-six-content-ctn > p {
    line-height: 30px;
    margin-top: -40px;
    color: #606060;
    text-align: center;
  }
}
