* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
}

/* width */
*::-webkit-scrollbar {
  width: 8px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #c4ac8e;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: rgba(196, 172, 142, 0.75);
}

.main-ctn {
  /* min-height: 100vh; */
  z-index: 990;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #faf9f6;
  display: none;
}

.border {
  border: 1px solid red;
}

.music-play-btn {
  position: fixed;
  top: 75%;
  left: 2.5%;
  background-color: #ebba16;
  color: white;
  font-size: 20px;
  border-radius: 100%;
  padding: 5px;
  z-index: 970;
}

.music-pause-btn {
  position: fixed;
  top: 75%;
  left: 2.5%;
  background-color: #ebba16;
  color: white;
  font-size: 20px;
  border-radius: 100%;
  padding: 5px;
  z-index: 970;
}

@media screen and (max-width: 320px) {
}

@media screen and (min-width: 320px) and (max-width: 425px) {
}

@media screen and (min-width: 425px) and (max-width: 768px) {
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
}
